body {
    text-align: center;
    background: #ff5454;
    color: #fff5ee;
}
table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
.button{
    font: bold 16px Arial;
    background-color:#EEEEEE;
    padding: 1px;
    border: 1px solid #CCCCCC;
}
