<html>
    <head>
<style type='text/css'>
    body {
        text-align: center;
        background: #ff5454;
        color: #fff5ee;
    }
    table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
    .button{
        font: bold 16px Arial;
        background-color:#EEEEEE;
        padding: 1px;
        border: 1px solid #CCCCCC;
    }

</style>
    </head>
    <body>
        <h1>Current mode schedule:</h1>
        <center>
            <form method="POST">
                <input name='text' value="{{text}}">
                <input name='submit'>
            </form>
        </center>
    </body>
</html>
