<html>
    <head>
<style type='text/css'>
    body {
        text-align: center;
        background: #ff5454;
        color: #fff5ee;
    }
    table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
    .button{
        font: bold 16px Arial;
        background-color:#EEEEEE;
        padding: 1px;
        border: 1px solid #CCCCCC;
    }

</style>
    </head>
    <body>
        <h1>Current mode schedule:</h1>
        <h3>{{err_msg}}</h3>
        <center>
            <form method="POST" id="sched">
                <textarea name="text" rows="7" cols="60" form="sched">
{{text}}
                </textarea>
                <br />
                <input type="submit" value="Submit Changes">
            </form>
            <br/>
            <a href="..">Back</a>
        </center>
    </body>
</html>
