<html>
    <link rel="stylesheet" href="../static/style.css"/>
    <body>
        <h1> Status: </h1>
        Allowed to heat: {{HEAT_MODE}}

        Allowed to cool: {{COOL_MODE}}

        A/C on : {{AC_ON}}

        Heat on: {{HEAT_ON}}

        Current temp: {{TEMP}}

        Target  temp: {{TARGET_TEMP}}
        <h2>Current schedule</h2>
        {{CURR_PROG}}
        <h2>Thermostat Control</h2>
        <h3> HEATING ==> <a href ="/heat/on" class="button">TURN_ON</a> <a href="/heat/off" class = "button">TURN OFF</a></h3>
        <h3> COOLING ==> <a href ="/cool/on" class="button">TURN_ON</a> <a href="/cool/off" class = "button">TURN OFF</a></h3>
        <h3> <a href='/edit'>EDIT SCHEDULE</a> </h3>
    </body>
</html>
